<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CanteenFoodMachine</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryConsumeServlet</display-name>
    <servlet-name>QueryConsumeServlet</servlet-name>
    <servlet-class>cn.edu.servlet.QueryConsumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryConsumeServlet</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryConsumeHistoryServlet</display-name>
    <servlet-name>QueryConsumeHistoryServlet</servlet-name>
    <servlet-class>cn.edu.servlet.QueryConsumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryConsumeHistoryServlet</servlet-name>
    <url-pattern>/queryHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechargeServlet</display-name>
    <servlet-name>RechargeServlet</servlet-name>
    <servlet-class>cn.edu.servlet.RechargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechargeServlet</servlet-name>
    <url-pattern>/recharge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidQueryServlet</display-name>
    <servlet-name>AndroidQueryServlet</servlet-name>
    <servlet-class>cn.edu.servlet.AndroidQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidQueryServlet</servlet-name>
    <url-pattern>/androidquery</url-pattern>
  </servlet-mapping>
</web-app>