<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ltp.mappers.AdminMapper">

    <resultMap id="Admin" type="com.ltp.entities.Admin">
        <result property="username" column="username" javaType="string" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="login" resultMap="Admin">
        select
        username,
        password
        from administrator
        where username = #{username} and password = #{password}
    </select>
</mapper>